<!DOCTYPE html>

<html>

<head>
     <title>About</title>
     <link rel="icon" href="/img/profile_pic.webp">
     <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
     <div class="main-content">
          {{>header}}
          <p>This site was created by Walter Ashbrook. It uses data from mapbox.com and darksky.net!</p>
          <img class="portrait" src="/img/profile_pic.webp" alt="" />
     </div>

     {{>footer}}
</body>

</html>